.schedule {
    height: 4vh;
    width: 100%;
    background-color: lavender;
    display: flex;
}

.hour-schedule {
    height: 4vh;
    width: 4vh;
    border: 1px solid dimgrey;
    font-size: 15px;
    display: flex;
}

@media screen and (max-width: 670px) {
	.schedule {
        margin: 0 auto;
	}
}
