.aircraft-card {
    height: 10vh;
    font-size: 26px;
    margin-top: 14px;
    background-color: lightblue;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.percentage {
    font-size: 19px;
    padding-top: 5px;
}
