.rotation::-webkit-scrollbar {
    display: none;
}

.rotation {
    height: calc(100vh - 15rem);
    width: calc(25vh);
    padding-top: 10px;
    background-color: lavender;
    margin-right: 20px;
    overflow-y: scroll;

    scrollbar-width: none; 
}

@media screen and (max-width: 670px) {
	.rotation {
        width: 90%;
        margin: 0 auto;
	}
}
